.container{
    width: 300px;
    height: 200px;
    background: yellow;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    
    margin: auto;
    padding: 20px;
    border: none;
    border-radius: 15px;
    box-shadow: 2px 2px 2px 2px gainsboro;
    
}
.container .display{
    font-size: 80px;
    text-align: center;
    padding-bottom: 20px;
}

.container .buttons{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.buttons #start,#pause,#stop{
    width: 80px;
    height: 40px;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    box-shadow: 2px 2px 2px 2px #e5e904;
}